@import "../../components/projects/projectFilter";
@import "../../components/projects/projectItem";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

// ONLY ANIMATE THE HOME
.home-container:not(.detail-container) {

  .button {
    opacity: 0;
    .fade-up-in(.3s, .5s, 5vh);
  }

  .image div {
    // border: 1px solid black;
    .split-image(10);
    opacity: 0;
  }

  .main-info {
    .caption {
      opacity: 0;
      .fade-up-in(.5s, .3s, 5vh);
    }

    .line-split {
      transform: translateX(150vh);
      .split-lines(10);
    }
  }
}

// ALL CSS (both home and detail)
.intro {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(#5EBDE9, #0294D0);

  height: calc(100vh - (@navHeight + 1rem) * 2 );
  width: calc(100vw - (@navHeight + 1rem) * 2);
  margin: calc(@navHeight + 1rem);

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;

  transition: all .5s ease;

  &:hover{
    height: calc(100vh - (@navHeight - @homeHoverBorder) * 2 );
    width: calc(100vw - (@navHeight - @homeHoverBorder) * 2);
    margin: calc(@navHeight - @homeHoverBorder);
    padding: calc(6rem + @homeHoverBorder);
  }

  .button {
    pointer-events: auto;
  }

  .image {
    display: inline-block;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.main-info {
  width: 50%;
  text-align: right;

  .caption {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .line-split {
    display: block;
  }
}


.projects {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: @secondBgColor;
  margin: 0;
  margin-top: 101vh;
  box-shadow: 0 -.5rem 2rem rgba(0, 0, 0, .2);

  width: 100%;
}

.projects-container {
  padding: 0 calc(@navHeight + 1rem) 8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
