@import "reset.css";
@import "constants";
@import "mixins";
@import "animations";

@import "components/navigation";
@import "components/menu";
@import "components/footer";

@import "pages/projects/main";
@import "pages/hack/main";
@import "pages/contact";

// html, body {
//   height: @fullHeight;
//   width: @fullWidth;
// }

html {
  font-size: 62.5%;
}

body {
  font-size: 1em;
  font-family: @fonts;
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
  visibility: hidden;
}

.content-container {
  margin-top: @navHeight;
}

.heading {
  font-size: 5vw;
  font-weight: 800;
  color: white;
  line-height: 120%;
}

.caption {
  font-weight: 600;
  font-size: 1.1vw;
  color: @mainColor
}

.pf-400 {
  font-family: 'Arvo';
  font-weight: 400;
  color: @mainColor;
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: .8vw;
  letter-spacing: .2rem;
  color: white;
  text-decoration: none;

  .btn-line {
    margin-top: .3rem;
    display: block;
    width: @fullWidth;
    height: .5rem;
    background: @bgColor;
    transition: all .3s ease;
  }

  &:hover .btn-line {
    opacity: .5;
    transform: scale(1.3);
  }
}
