@import "../form/radio";
@import "../form/select";

.filter-bar {
  position: absolute;
  z-index: 100000;
  width: 75%;
  position: sticky;
  top: calc(100vh - 8vh);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  .option {
    display: flex;
  }
}
